*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
html,body{
    height :100%;
    width: 100%;  
}
.container{
    background-color: #4E6969;
    height: 100%;
    width: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}
.container img{
     width: 100%;
}
.content,image{
    height: 100%;
    width: 50% ;
}
.content{
    border: 1px solid #F1F1F1;
    border-radius: 5px;
}
.image{
    margin-left: 2vw;
    border: 1px solid #F1F1F1;
    border-radius: 5px;
}
.info-container .image{
    background-color: #F1F1F1;
    object-fit: contain;
}
.info-container{
    position: absolute;
    display: flex;
    justify-content: center;
    background-color: #7F9BA6;
    height: 80%;
    width: 80%;
    border-radius: 7px;
    box-shadow: 5px 5px 20px;
    z-index: 10;
    padding: 4vw;
}