*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
html,body{
    height :100%;
    width: 100%;  
}
.container{
    height: 100%;
    width: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    object-fit: cover;
}
.info-container{
    background-color: hsla(113, 100%, 50%, 0.514);
    height: 80%;
    width: 40%;
    border-radius: 4px;
    box-shadow: 5px 5px 20px;
    z-index: 10;
}