*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
html,body{
    height :100%;
    width: 100%;  
}
.container{
    background-color: #4E6969;
    height: 100%;
    width: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.container img{
     width: 100%;
}
.weather-form {
    height: 100%;
    width: 30% ;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border: 1px solid #F1F1F1;
    border-radius: 5px;
}
.weather-form button{
    height: 30px;
    width: 150px;
    border: #4E6969;
    background-color: #4E6969;
    color: #F1F1F1;
    border-radius: 4px;
    margin: 1vw;
}
.weather-form input{
    height: 30px ;
    width: 150px ;
    border: none;
    padding: 1vw;
}
.image{
    margin-left: 2vw;
    border: 1px solid #F1F1F1;
    border-radius: 5px;
}
.info-container .image{
    background-color: #F1F1F1;

    object-fit: contain;
    height: 100%;
    width: 70% ;
}
.info-container{
    position: absolute;
    display: flex;
    justify-content: center;
    background-color: #7F9BA6;
    height: 80%;
    width: 80%;
    border-radius: 7px;
    box-shadow: 5px 5px 20px;
    z-index: 10;
    padding: 4vw;
}